

<h1 class="text-center text-white">New project</h1>

<%= render "form", project: @project %>

<br>

<div>
  <%= link_to "Back to projects", projects_path ,class: "link" %>
</div>


<style>
.link{
  color:white;
}
</style>