.btn{
    background: linear-gradient(180deg, #02ECFB 0%, rgba(255, 0, 229, 0.71) 100%);
      margin-top: 10px;
      color:white;
      border:none;
      padding:10px;
      border-radius: 25px;
    }
    .btn:hover{
      color:white;
    }
    .link{
      color:white;
    }